* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header menu start */
.header-section {
  padding: 20px 0;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.logo-main {
  width: 180px;
}

.menu {
}
.menu ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu ul li {
}
.menu ul li a {
  text-decoration: none;
  color: #000;
}
.sign-in-btn {
  background-color: #29b575;
  color: #fff !important;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 35px;
}
/* Header menu end */
